<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artist Selection</title>
    <link rel="stylesheet" href="/styles/musick.css">
  </head>
  <body>
    <header>welcome to musick</header>
    <section id="menu"><p>menu</p></section>
    <section id="artistsselection">
      <h1>artists</h1>
      <p>Choose an artist:</p>
      <form method="post" action="/artist">
        <select name="name">
          <option>ABBA</option>
          <option>Britney Spears</option>
          <option>Drake</option>
          <option>Frank Ocean</option>
          <option>Kanye</option>
          <option>Taylor Swift</option>
          <option>Rihanna</option>
          <option></option>
        </select>
        <input type="Submit">
      </form>
    </section>
  </body>
</html>
