<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Musick</title>
    <link rel="stylesheet" href="/styles/musick.css">
  </head>
  <body>
    <header>welcome to musick</header>
    <section id="menu"><p>menu</p>
      <nav>
        <ul id="links">
          <li id="linksong"><a href="/song">Songs</a></li>
          <li id="linkartists"><a href="/artists">Artists</a></li>
          <li id="linkalbums"><a href="/albums">Albums</a></li>
        </ul>
      </nav>
    </section>
    <section id="main">musick is the best app ever</section>
  </body>
</html>
